.home {
  padding: 50px;
  background-color: #e6fed9; /* Light green background color */
}

.content-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fti-header {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 30px;
}

.welcome-section {
  margin-bottom: 30px;
}

.welcome-section h1 {
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 10px;
  color: #4D7753;
}

.welcome-section p {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

.registration-steps {
  background-color: #F0B349;
  padding: 20px;
  border-radius: 8px;
}

.registration-steps h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.registration-steps ol {
  counter-reset: step-counter;
  list-style-type: none;
  padding-left: 0;
}

.registration-steps ol li {
  counter-increment: step-counter;
  margin-bottom: 10px;
  font-size: 15px;
  color: #333;
}

.registration-steps ol li::before {
  content: counter(step-counter);
  background-color: #4D7753;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
}

footer {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: #666;
}
